{{>private-navbar}}


<main class="bg-white shadow rounded overflow-hidden container mt-5">


      <div class="mx-4 my-3">
        <h1 class="mb-2 text-center">Order History</h1>
      </div>

<div>
  <ul>
      {{#each order}}
    <li>{{Post.food_name}}</li>
      {{/each}}
  </ul>
</div>


</main>