body {
  background-image: url(../public/assets/images/background-image.jpg);
}

.card-container-1 {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.column-1 {
  margin-right: 10px;
}

.profile-head {
  transform: translateY(4rem);
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.column-2 {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.card-title-design {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  font-weight: 700;
}

.order-button-styling {
  display: flex;
  justify-content: center;
}

.order-button-bg {
  color: white;
  background-color: 4d908e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:active,
.link:visited,
.link:focus {
  color: white;
}
