.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

.card-text {
  grid-area: text;
  background-color: whitesmoke;
  margin: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-text .username {
  color: rgb(6, 179, 127);
  font-size: 17px;
  margin-top: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-text p {
  color: rgb(37, 32, 32);
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  margin: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.location-point {
  color: rgb(241, 2, 2);
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 5px;
  /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: 4d908e;
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding: 10px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.food-type {
  padding: 0.8rem;
  background-color: whitesmoke;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding: 3px;
  color: rgb(6, 179, 127);
  border-radius: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.food-price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
  background-color: #f5c518;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: darkblue;
  padding: 3px;
  border-radius: 12px;
}

.food-post-date {
  left: 0;
  padding: 0.8rem;
  background-color: whitesmoke;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  color: black;
  padding: 0;
}

.stat-btn {
  color: white;
  background-color: 4d908e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid white;
  padding-top: 25px;
  border-radius: 10px;
}

.stat-btn-1 {
  color: white;
  background-color: 4d908e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid white;
  padding-top: 25px;
  border-radius: 10px;
}

.stat-btn-2 {
  color: white;
  background-color: 4d908e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid white;
  padding-top: 25px;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:active,
.link:visited,
.link:focus {
  color: white;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 600px) {
  .carousel,
  .carousel__snapper,
  .cards-container {
    height: 600px;
    max-height: 100%;
  }

  .cards-container {
    display: block;
    margin-left: 0%;
    margin-right: 0%;
  }
}
